# Polar bear reference sequences
A PB12_s317.fa PB105_s317.fa
# Brown bear reference sequences
B OFS01_s317.fa Swe_s317.fa
# Probability of resampling the same post-admixture ancestral recombination event
# twice in an individual (will be computed if not provided here)
RESAMPLE        5.35473802318e-09
# Same quantity but for X chromosome sequences (will be computed if not provided here)
RESAMPLE_X      4.63279107124e-09
# Window size in bp
WINDOW 5000
# Estimated admixed population size
N 3000
# Estimated generations since admixture
g 1000
# What percent of a window must be "N" nucleotides before it's ignored?
SKIP 0.25
# How many processes should be run at a time (max. 1 per hybrid genome)?
PROCS 2
# Prefix of output files (including directory)
OUTPUT example
# Nucleotide diversity values (in population A, in population B, between pops A & B)
PI      0.000615        0.00233 0.003564
# List all hybrid individuals, then name, and optionally sex and percent population A
# ancestry (genome-wide). If this number is not known, it can be calculated, as long
# as an outgroup sequence (specified with OUTGROUP) is provided
# Sex only matters if X chromosome sequences are specified (specified with X):
# X scaffoldX1 scaffoldX2 scaffoldX3
HYBRID ABC01_s317.fa ABC01 M 0.086326
HYBRID ABC02_s317.fa ABC02 F 0.088688
